body {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

#title {
  padding: 5px;
  font-size: 12px;
}

.outcome .outcome-content {
  padding: 10px;
  width: 100%;
}

.outcome.incorrect {
  background-color: pink;
}

.outcome.correct {
  background-color: lightgreen;
}

.content {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
}

.q_and_a {
    padding: 0px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

audio {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  font-size: 18pt;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
    margin-right: 10px;
}

button {
    width: 100%;
    font-size: 18pt;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 10px;
}

.questionImage * {
  width: 100%;
}

.questionImage {
  display: inline;
}

.answerImage * {
  width: 280px;
  vertical-align: middle;
  padding-right: 20px;
}

.answerImage {
  display: inline;
}

ul {
    list-style-type: none;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
  }

li {
    padding: 5px;
}

.credit {
  height: auto;
  padding: 10px;
  font-size: 0.8rem;
  max-width: 100%;
  align-self: flex-start;
}

.imageCredit {
  font-size: 0.8rem;
  position: relative;
  bottom: 0;
  left: 25px;
}

.final {
  margin: 5px;
}

.finalImage {
  display: inline;
}
.finalImage * {
  width: 100%;
}

.finalAttribution {
  font-size: 1rem;
}

.outcome {
    margin-top: 5px;
    border-radius: 10px;
    width: 100%;
}

.outcome.incorrect {
    background-color: pink;
}

.outcome.correct {
    background-color: lightgreen;
}

.correct_answer {
    border: 3px solid limegreen;
    border-radius: 10px;
    padding-left: 2px;
}
/* 
@media screen and (orientation:landscape) {

.content {
    width: 30%;
    margin: 0 auto;
    background-color: whitesmoke;
    font-size: 12pt;
}

} */

header {
  padding: 0 4px;
  display: flex;
  border-bottom: 1px solid rgb(105, 98, 98);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 50px;
}

header .header-left {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 250px;
  justify-content: flex-start;
}

header .header-right {
  display: flex;
  width: 250px;
  justify-content: flex-end;
}

header #header-title {
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
}

#statistics {
  display: flex;
  text-align: center;
}

.statistic-container {
  flex: 1;
}

.statistic-container .statistic {
  font-size: 38px;
}

.statistic-container .label {
  font-size: 14px;
}

#statsButton {
  display: flex;
  justify-content: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 4px;
}

#statsClose {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 450px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
